@import '../../../../../../shared/src/lib/variables';

h2 { 
  margin: 0;
  text-align: center;
}

header {
  padding: $spacing;
  background-color: $theme-primary;
  border-radius: $border-radius $border-radius 0 0;
}

table {
  margin: $spacing;
}