@import './home-screen-shared';


$padding-height: 10vh;
$padding-width: 20vh;

main {
  margin: 0;
  padding: $padding-height $padding-width;
  background-color: $theme-primary-accent;
  min-height: calc((100vh - 2 * $padding-height) - ($home-nav-height + $footer-height));
  width: calc(100vw - 2*$padding-width);
}

h1 {
  width: 100%;
  font-size: 2em;
  text-align: center;
}

.centered-items {
  height: 200px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}