@use '../../../../../../shared/src/lib/styles/variables';

$border-size: 1px;

app-model-side {
  width: calc(50%);
  padding: 0;
  margin: 0;
  display: inline-block;
  position: relative;
  z-index: 1;
  pointer-events: none;
}

app-svg {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  width: calc(100%);
  min-height: 90%;
}

$mapping-actions-height: 80px;

main {
  overflow: auto;
  position: relative;
  height: calc(100vh - (variables.$header-footer-height + $mapping-actions-height + 2* $border-size));
  min-height: 0;
  background-color: variables.$theme-primary-negative-accent;
  border: solid 2px variables.$theme-primary
}

app-mapping-actions {
  width: calc(100%);
  height: $mapping-actions-height;
  border-bottom-color: solid variables.$theme-secundary $border-size;
  display: block;
  background-color: variables.$theme-primary;
}

app-element-tab {
  width: 50%;
  display: inline-block;
}