<app-home-header></app-home-header>
<nav class="model-nav">
  <app-element-tab [elements]="elementsLeft" [activeElement]="activeElementLeft" [modelID]="modelIDLeft" (activeElementChange)="leftActiveElementChange($event)"></app-element-tab>
  <app-element-tab [elements]="elementsRight" [activeElement]="activeElementRight" [modelID]="modelIDRight" (activeElementChange)="rightActiveElementChange($event)"></app-element-tab>
</nav>
<main>
  <app-model-side 
    [modelSide]="LEFT_MODEL_SIDE" 
    [class.highlight]="highLightLeft" 
    [activeElement]="activeElementLeft"
    id="app-model-side-left"
  ></app-model-side>
  <app-model-side 
    [modelSide]="RIGHT_MODEL_SIDE" 
    [class.highlight]="highLightRight"
    [activeElement]="activeElementRight"
    id="app-model-side-right"
  ></app-model-side>
  <app-svg [class.highlight]="highLightArrows"></app-svg>
</main>
<app-mapping-actions></app-mapping-actions>
<router-outlet></router-outlet>