<app-home-header></app-home-header>
<main>
  <div>
    <app-element-tab [elements]="elementsLeft"></app-element-tab>
    <app-element-tab [elements]="elementsRight"></app-element-tab>
  </div>
  <app-model-side 
    [modelSide]="LEFT_MODEL_SIDE" 
    [class.highlight]="highLightLeft" 
    [activeElement]="activeElementLeft"
    id="app-model-side-left"
  ></app-model-side>
  <app-model-side 
    [modelSide]="RIGHT_MODEL_SIDE" 
    [class.highlight]="highLightRight"
    [activeElement]="activeElementRight"
    id="app-model-side-right"
  ></app-model-side>
  <app-svg [class.highlight]="highLightArrows"></app-svg>
</main>
<app-mapping-actions></app-mapping-actions>
<router-outlet></router-outlet>