@use '../../../../../../shared/src/lib/styles/variables';

$border-size: 2px;

app-model-side {
  width: calc(50% - (2 * $border-size));
  padding: 0;
  margin: 0;
  display: inline-block;
  border: solid red $border-size;
  position: relative;
  z-index: 1;
}

app-svg {
  position: absolute;
  top: 0;
  left: 0;
  border: solid blue $border-size;
  z-index: 0;
  width: calc(100% - (2 * $border-size));
  min-height: 90%;
}

$mapping-actions-height: 80px;

main {
  overflow: auto;
  position: relative;
  height: calc(100vh - (variables.$header-footer-height + $mapping-actions-height + (2 * $border-size)));
  min-height: 0;
}

app-mapping-actions {
  width: calc(100% - (2 * $border-size));
  height: ($mapping-actions-height - (2 * $border-size));
  border: solid green $border-size;
  display: block;
}