/* You can add global styles to this file, and also import other style files */
@import '../../shared/src/lib/variables';

html, body {
  margin: 0;
  padding: 0;
  background-color: $theme-primary-accent;
  color: $theme-secundary;
}