<lib-pop-up (backgroundClick)="cancel()">
  <header>
    <h2>Create mapping rule</h2>
  </header>
  <lib-stepper *ngIf="steps !== undefined" [(steps)]="steps" (stepsChange)="onFormDataChanged()"></lib-stepper>
  <div *ngIf="steps === undefined" class="stepper-placeholder">
    <span>Loading ...</span>
  </div>
  <hr/>
  <div class="control">
    <button class="danger text-button" (click)="cancel()">Cancel</button>
    <button class="primary button" (click)="create()" [disabled]="creatable">Create</button>
  </div>
</lib-pop-up>