$primary: var(--primary-color, rgb(0,143,215));
$primary-accent: var(--primary-accent-color, rgb(159,218,247));
$secundary: var(--secundary-color, rgb(232,221,17));
$secundary-accent: var(--secundary-accent-color, rgb(255,255,175));
$background-primary: var(--background-primary, #2c2a3b);
$background-secundary: var(--background-secundary, #353444);